In [4]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [5]:
data=pd.read_csv('data/except_personal_rehailitation.csv')
data.head()

,Unnamed: 0,application_id,loanapply_insert_time,bank_id,product_id,loan_limit,loan_rate,is_applied,user_id,birth_year,insert_time,credit_score,yearly_income,income_type,company_enter_month,employment_type,houseown_type,desired_amount,purpose,existing_loan_cnt,existing_loan_amt,gender,rehabilitation_yn,personal_rehabilitation_yn,personal_rehabilitation_complete_yn
0,0,1748340,2022-06-07 13:05:41,7,191,42000000.0,13.6,NaN,430982.0,1996.0,2022-06-07 13:05:39,620.0,24000000.0,EARNEDINCOME,2022.0,정규직,자가,25000000.0,대환대출,2.0,15000000.0,1.0,0,0.0,0.0
1,1,1748340,2022-06-07 13:05:41,25,169,24000000.0,17.9,NaN,430982.0,1996.0,2022-06-07 13:05:39,620.0,24000000.0,EARNEDINCOME,2022.0,정규직,자가,25000000.0,대환대출,2.0,15000000.0,1.0,0,0.0,0.0
2,2,1748340,2022-06-07 13:05:41,2,7,24000000.0,18.5,NaN,430982.0,1996.0,2022-06-07 13:05:39,620.0,24000000.0,EARNEDINCOME,2022.0,정규직,자가,25000000.0,대환대출,2.0,15000000.0,1.0,0,0.0,0.0
3,3,1748340,2022-06-07 13:05:41,4,268,29000000.0,10.8,NaN,430982.0,1996.0,2022-06-07 13:05:39,620.0,24000000.0,EARNEDINCOME,2022.0,정규직,자가,25000000.0,대환대출,2.0,15000000.0,1.0,0,0.0,0.0
4,4,1748340,2022-06-07 13:05:41,11,118,5000000.0,16.4,NaN,430982.0,1996.0,2022-06-07 13:05:39,620.0,24000000.0,EARNEDINCOME,2022.0,정규직,자가,25000000.0,대환대출,2.0,15000000.0,1.0,0,0.0,0.0

In [6]:
data=data.drop(['Unnamed: 0'],axis=1)

### data1 - 필요없는 column 제거된 데이터

In [7]:
# 필요없는 column 제거
data1=data.drop(['application_id', 'user_id','loanapply_insert_time', 'personal_rehabilitation_yn', 'personal_rehabilitation_complete_yn','insert_time','company_enter_month'],axis=1)

In [6]:
data1.head()

,bank_id,product_id,loan_limit,loan_rate,is_applied,birth_year,credit_score,yearly_income,income_type,employment_type,houseown_type,desired_amount,purpose,existing_loan_cnt,existing_loan_amt,gender,rehabilitation_yn
0,7,191,42000000.0,13.6,NaN,1996.0,620.0,24000000.0,EARNEDINCOME,정규직,자가,25000000.0,대환대출,2.0,15000000.0,1.0,0
1,25,169,24000000.0,17.9,NaN,1996.0,620.0,24000000.0,EARNEDINCOME,정규직,자가,25000000.0,대환대출,2.0,15000000.0,1.0,0
2,2,7,24000000.0,18.5,NaN,1996.0,620.0,24000000.0,EARNEDINCOME,정규직,자가,25000000.0,대환대출,2.0,15000000.0,1.0,0
3,4,268,29000000.0,10.8,NaN,1996.0,620.0,24000000.0,EARNEDINCOME,정규직,자가,25000000.0,대환대출,2.0,15000000.0,1.0,0
4,11,118,5000000.0,16.4,NaN,1996.0,620.0,24000000.0,EARNEDINCOME,정규직,자가,25000000.0,대환대출,2.0,15000000.0,1.0,0

### data2 - data1을 가지고 범주형 더미화

In [8]:
data2 = pd.get_dummies(data1, columns = ['income_type','employment_type','houseown_type','purpose'])

In [8]:
data2.head()

,bank_id,product_id,loan_limit,loan_rate,is_applied,birth_year,credit_score,yearly_income,desired_amount,existing_loan_cnt,existing_loan_amt,gender,rehabilitation_yn,income_type_EARNEDINCOME,income_type_EARNEDINCOME2,income_type_FREELANCER,income_type_OTHERINCOME,income_type_PRACTITIONER,income_type_PRIVATEBUSINESS,employment_type_계약직,employment_type_기타,employment_type_일용직,employment_type_정규직,houseown_type_기타가족소유,houseown_type_배우자,houseown_type_자가,houseown_type_전월세,purpose_기타,purpose_대환대출,purpose_사업자금,purpose_생활비,purpose_자동차구입,purpose_전월세보증금,purpose_주택구입,purpose_투자
0,7,191,42000000.0,13.6,NaN,1996.0,620.0,24000000.0,25000000.0,2.0,15000000.0,1.0,0,1,0,0,0,0,0,0,0,0,1,0,0,1,0,0,1,0,0,0,0,0,0
1,25,169,24000000.0,17.9,NaN,1996.0,620.0,24000000.0,25000000.0,2.0,15000000.0,1.0,0,1,0,0,0,0,0,0,0,0,1,0,0,1,0,0,1,0,0,0,0,0,0
2,2,7,24000000.0,18.5,NaN,1996.0,620.0,24000000.0,25000000.0,2.0,15000000.0,1.0,0,1,0,0,0,0,0,0,0,0,1,0,0,1,0,0,1,0,0,0,0,0,0
3,4,268,29000000.0,10.8,NaN,1996.0,620.0,24000000.0,25000000.0,2.0,15000000.0,1.0,0,1,0,0,0,0,0,0,0,0,1,0,0,1,0,0,1,0,0,0,0,0,0
4,11,118,5000000.0,16.4,NaN,1996.0,620.0,24000000.0,25000000.0,2.0,15000000.0,1.0,0,1,0,0,0,0,0,0,0,0,1,0,0,1,0,0,1,0,0,0,0,0,0

### train : is_applied null 아닌 값 / test : is_applied null 값(제출 데이터)

In [9]:
ii=data2[data2.is_applied.isnull()].index
train=data2.drop(ii) # 3,4,5월 
test=data2.loc[ii] # 6월(실제 예측해야할 값)

In [10]:
# 3,4,5월 데이터의 is_applied 비율
train['is_applied'].value_counts()

0.0    9636167
1.0     550965
Name: is_applied, dtype: int64

In [12]:
X = train.drop('is_applied',axis=1)
y = train['is_applied']

#### X, y에 대하여 oversampling 수행

In [13]:
from imblearn.over_sampling import SMOTE
smote = SMOTE(random_state=42)
X_over, y_over = smote.fit_resample(X,y)

print('SMOTE 적용 전 학습용 피처/레이블 데이터 세트: ', X.shape, y.shape)
print('SMOTE 적용 후 학습용 피처/레이블 데이터 세트: ', X_over.shape, X_over.shape)
print('SMOTE 적용 후 레이블 값 분포: \n', pd.Series(y_over).value_counts())

SMOTE 적용 전 학습용 피처/레이블 데이터 세트:  (10187132, 34) (10187132,)
SMOTE 적용 후 학습용 피처/레이블 데이터 세트:  (19272334, 34) (19272334,)
SMOTE 적용 후 레이블 값 분포:
 1.0    9636167
0.0    9636167
Name: is_applied, dtype: int64

In [14]:
# data_over은 X,y oversampling된 거 합쳐진 data
data_over = pd.concat([X_over,y_over],axis = 1)

In [15]:
data_over.head()

,bank_id,product_id,loan_limit,loan_rate,birth_year,credit_score,yearly_income,desired_amount,existing_loan_cnt,existing_loan_amt,gender,rehabilitation_yn,income_type_EARNEDINCOME,income_type_EARNEDINCOME2,income_type_FREELANCER,income_type_OTHERINCOME,income_type_PRACTITIONER,income_type_PRIVATEBUSINESS,employment_type_계약직,employment_type_기타,employment_type_일용직,employment_type_정규직,houseown_type_기타가족소유,houseown_type_배우자,houseown_type_자가,houseown_type_전월세,purpose_기타,purpose_대환대출,purpose_사업자금,purpose_생활비,purpose_자동차구입,purpose_전월세보증금,purpose_주택구입,purpose_투자,is_applied
0,54,235,20000000.0,16.5,1970.0,540.0,32000000.0,10000000.0,12.0,162000000.0,1.0,0,1,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,1.0
1,54,235,11000000.0,16.5,1977.0,580.0,72000000.0,20000000.0,7.0,106000000.0,1.0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0.0
2,11,118,3000000.0,20.0,1977.0,580.0,72000000.0,20000000.0,7.0,106000000.0,1.0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0.0
3,42,216,10000000.0,13.5,1983.0,740.0,39000000.0,80000000.0,2.0,58000000.0,1.0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,1,0,0,0,0,0,0,0.0
4,25,169,22000000.0,15.9,1983.0,740.0,39000000.0,80000000.0,2.0,58000000.0,1.0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,1,0,0,0,0,0,0,0.0

### X_over, y_over 데이터셋 분리 -> train_X, train_y로 훈련, test_X, test_y로 평가

In [16]:
from sklearn.model_selection import train_test_split
train_X, test_X, train_y, test_y = train_test_split(X_over, y_over, test_size = 0.3, random_state = 42 )

In [33]:
train_y.value_counts()

0.0    6745500
1.0    6745133
Name: is_applied, dtype: int64

### 모델 평가 성능지표

In [18]:
from sklearn import metrics
from sklearn.metrics import r2_score, mean_squared_error, accuracy_score, f1_score, precision_score, recall_score, roc_auc_score

In [19]:
def metrics(test_y, pred):
    accuracy = accuracy_score(test_y, pred)
    precision = precision_score(test_y, pred)
    recall = recall_score(test_y, pred)
    f1 = f1_score(test_y, pred)
    roc_score = roc_auc_score(test_y, pred, average='macro')
    print('정확도 : {0:.2f}, 정밀도 : {1:.2f}, 재현율 : {2:.2f}'.format(accuracy, precision, recall))
    print('f1-score : {0:.2f}, auc : {1:.2f}'.format(f1, roc_score, recall))

### LogisticRegression

In [21]:
from sklearn.linear_model import LogisticRegression

lr = LogisticRegression()
lr.fit(train_X, train_y)
pred = lr.predict(test_X)

metrics(test_y, pred)

정확도 : 0.57, 정밀도 : 0.67, 재현율 : 0.29
f1-score : 0.40, auc : 0.57

### RandomForestClassifier

In [24]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier()
rf.fit(train_X, train_y)
pred = rf.predict(test_X)

metrics(test_y, pred)

정확도 : 0.97, 정밀도 : 0.98, 재현율 : 0.96
f1-score : 0.97, auc : 0.97

### DecisionTreeClassifier

In [22]:
from sklearn.tree import DecisionTreeClassifier

dt = DecisionTreeClassifier()
dt.fit(train_X, train_y)
pred = dt.predict(test_X)

metrics(test_y, pred)

정확도 : 0.95, 정밀도 : 0.95, 재현율 : 0.95
f1-score : 0.95, auc : 0.95

### ExtraTreesClassifier

In [54]:
# 이건 아직 예전꺼로 돌린거라 성능 낮게 써있어요
from sklearn.ensemble import ExtraTreesClassifier

et = ExtraTreesClassifier()
et.fit(train_X, train_y)
pred = et.predict(test_X)

metrics(test_y, pred)

정확도 : 0.94, 정밀도 : 0.41, 재현율 : 0.16
f1-score : 0.23, auc : 0.57

### XGBoost

In [26]:
from xgboost import XGBClassifier

xgb = XGBClassifier()
xgb.fit(train_X, train_y)
pred = xgb.predict(test_X)

metrics(test_y, pred)

[17:17:50] WARNING: ..\src\learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
정확도 : 0.94, 정밀도 : 0.97, 재현율 : 0.90
f1-score : 0.94, auc : 0.94

### CatBoost

In [ ]:
# 이건 아직 예전꺼로만 돌려보고 안 돌려봄
from catboost import CatBoostClassifier

cb = CatBoostClassifier()
cb.fit(train_X, train_y)
pred = cb.predict(test_X)

metrics(test_y, pred)

### LightGBM

In [25]:
from lightgbm import LGBMClassifier

lgbm = LGBMClassifier()
lgbm.fit(train_X, train_y)
pred = lgbm.predict(test_X)

metrics(test_y, pred)

정확도 : 0.93, 정밀도 : 0.97, 재현율 : 0.89
f1-score : 0.93, auc : 0.93

### 여기서부터는 y변수 인과관계 분석(내가 할 거)

In [35]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
import statsmodels.api as sm
import statsmodels.formula.api as smf

In [38]:
vif = pd.DataFrame()
vif["features"] = X_over.columns
vif["VIF Factor"] = [variance_inflation_factor(X_over.values, i) for i in range(X_over.shape[1])]
vif

MemoryError: Unable to allocate 4.74 GiB for an array with shape (33, 19272334) and data type float64

In [41]:
VIFX_3 = sm.add_constant(X_over, has_constant='add')
lin_model_VIF = sm.OLS(y_over, VIFX_3)
lin_model_VIF = lin_model_VIF.fit()

MemoryError: Unable to allocate 1.29 GiB for an array with shape (9, 19272334) and data type float64

In [ ]:
lin_model_VIF.summary()