In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.rc('font', family='Malgun Gothic')
import seaborn as sns
import warnings
warnings.filterwarnings(action='ignore')
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV

In [2]:
#include_all.zip data download(include_all.csv)
! wget https://www.dropbox.com/s/ffeb3yg1o4bfctp/include_all.zip?dl=0 -O include_all.zip

--2022-10-09 04:10:32--  https://www.dropbox.com/s/ffeb3yg1o4bfctp/include_all.zip?dl=0
Resolving www.dropbox.com (www.dropbox.com)... 162.125.3.18, 2620:100:6018:18::a27d:312
Connecting to www.dropbox.com (www.dropbox.com)|162.125.3.18|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: /s/raw/ffeb3yg1o4bfctp/include_all.zip [following]
--2022-10-09 04:10:32--  https://www.dropbox.com/s/raw/ffeb3yg1o4bfctp/include_all.zip
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://uca4961d8e978e6f4e2e803576a1.dl.dropboxusercontent.com/cd/0/inline/Bue5kQa-mPiOnMa_LBwBkTBPFSH8zhGUW1WYHTNOjITPOYol0eK_fA-czCo4w2Izh2oP2IS0B8Blfjs9wwhqX46TGjVkTo8rBgDjaxgMrBOpafp4kHy0-jl5PPzl8xXWivLY5WnerfXzw4GD1egEwb1s9P7SPb-Oc3ToPuxl2e_5bA/file# [following]
--2022-10-09 04:10:33--  https://uca4961d8e978e6f4e2e803576a1.dl.dropboxusercontent.com/cd/0/inline/Bue5kQa-mPiOnMa_LBwBkTBPFSH8zhGUW1WYHTNOjITPOYol0eK_fA-czCo4w2Izh2oP2IS0B8Blfjs9wwhqX46TGjVkTo8rBgDjaxgMrBOpafp4kHy0-jl5PPzl8xXWivLY5WnerfXzw4GD1egEwb1s9P7SPb-Oc3ToPuxl2e_5bA/file
Resolving uca4961d8e978e6f4e2e803576a1.dl.dropboxusercontent.com (uca4961d8e978e6f4e2e803576a1.dl.dropboxusercontent.com)... 162.125.80.15, 2620:100:6018:15::a27d:30f
Connecting to uca4961d8e978e6f4e2e803576a1.dl.dropboxusercontent.com (uca4961d8e978e6f4e2e803576a1.dl.dropboxusercontent.com)|162.125.80.15|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: /cd/0/inline2/BudSJEU734zrBKPSeIbk74exyLV7Gi2PsiCz9CkEdBeZEKxojNqlksMgnncfPqQ2eikI1za7drihPq2KH8PJvFgsROteX-GIHL__haOB8PISKqxjT0O3800MM7nFsEEwvy4CksV7aA8PuO0DzImoKxk0LtMUWqGl-HAlO8wgZS8IeHB56VnwdY9HIOGI_CVR2LgAhpu98ZHukeBbNVh090w-Oa3o-Qb6fKLyo9enxVbea9LXjdLIceovyRKQjpeSkWkVxLuBQFpCjGkuUbrYb8nGhzCWHU_OY-LCrPh8C9oYCvgTW9PbO8osGgWrqwBLm4PP3vOlNCG7KQe7dqxyRaD1CJRa6MuY0CDxPzEBc87XIXalmOVfgC03iHgkFUuR-YZ_IuXAjnk6JmrsPrhbkWGO871PH_BXKdWD6J4Zp-k4Tg/file [following]
--2022-10-09 04:10:34--  https://uca4961d8e978e6f4e2e803576a1.dl.dropboxusercontent.com/cd/0/inline2/BudSJEU734zrBKPSeIbk74exyLV7Gi2PsiCz9CkEdBeZEKxojNqlksMgnncfPqQ2eikI1za7drihPq2KH8PJvFgsROteX-GIHL__haOB8PISKqxjT0O3800MM7nFsEEwvy4CksV7aA8PuO0DzImoKxk0LtMUWqGl-HAlO8wgZS8IeHB56VnwdY9HIOGI_CVR2LgAhpu98ZHukeBbNVh090w-Oa3o-Qb6fKLyo9enxVbea9LXjdLIceovyRKQjpeSkWkVxLuBQFpCjGkuUbrYb8nGhzCWHU_OY-LCrPh8C9oYCvgTW9PbO8osGgWrqwBLm4PP3vOlNCG7KQe7dqxyRaD1CJRa6MuY0CDxPzEBc87XIXalmOVfgC03iHgkFUuR-YZ_IuXAjnk6JmrsPrhbkWGO871PH_BXKdWD6J4Zp-k4Tg/file
Reusing existing connection to uca4961d8e978e6f4e2e803576a1.dl.dropboxusercontent.com:443.
HTTP request sent, awaiting response... 200 OK
Length: 176420208 (168M) [application/zip]
Saving to: ‘include_all.zip’

include_all.zip     100%[===================>] 168.25M  15.9MB/s    in 12s

2022-10-09 04:10:46 (14.3 MB/s) - ‘include_all.zip’ saved [176420208/176420208]

In [3]:
# include_all.zip  unzip
!unzip -qq "/content/include_all.zip"

replace include_all.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n
replace include_all.ipynb? [y]es, [n]o, [A]ll, [N]one, [r]ename: n

In [2]:
data=pd.read_csv('/content/include_all.csv')
data=data.drop(['Unnamed: 0'],axis=1)

In [5]:
len(data)

13442614

In [6]:
data

,bank_id,product_id,loan_limit,loan_rate,is_applied,birth_year,credit_score,yearly_income,income_type,employment_type,...,loanapply_week,loanapply_time,time_at_work,기준금리,생활물가지수,소비자심리지수,나잇대,대출,핀다,금리
0,25,169,23000000.0,16.9,0.0,1994.0,940.0,23000000.0,EARNEDINCOME2,정규직,...,Tuesday,13:59:32,19052,1.25,1.2,103.2,20,58.0,23.0,20.0
1,29,265,28000000.0,5.9,0.0,1994.0,940.0,23000000.0,EARNEDINCOME2,정규직,...,Tuesday,13:59:31,19052,1.25,1.2,103.2,20,58.0,23.0,20.0
2,64,254,22000000.0,13.2,0.0,1994.0,940.0,23000000.0,EARNEDINCOME2,정규직,...,Tuesday,13:59:32,19052,1.25,1.2,103.2,20,58.0,23.0,20.0
3,18,188,6000000.0,5.3,0.0,1994.0,940.0,23000000.0,EARNEDINCOME2,정규직,...,Tuesday,13:59:31,19052,1.25,1.2,103.2,20,58.0,23.0,20.0
4,1,61,11000000.0,12.9,0.0,1994.0,940.0,23000000.0,EARNEDINCOME2,정규직,...,Tuesday,13:59:32,19052,1.25,1.2,103.2,20,58.0,23.0,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13442609,35,29,5000000.0,14.5,NaN,1963.0,690.0,26000000.0,EARNEDINCOME,계약직,...,Thursday,19:28:48,19173,1.75,0.8,96.4,60이상,49.0,14.0,15.0
13442610,61,92,26000000.0,19.7,NaN,1963.0,690.0,26000000.0,EARNEDINCOME,계약직,...,Thursday,19:28:40,19173,1.75,0.8,96.4,60이상,49.0,14.0,15.0
13442611,13,262,35000000.0,15.5,NaN,1963.0,690.0,26000000.0,EARNEDINCOME,계약직,...,Thursday,19:28:39,19173,1.75,0.8,96.4,60이상,49.0,14.0,15.0
13442612,6,36,48000000.0,17.7,NaN,1963.0,690.0,26000000.0,EARNEDINCOME,계약직,...,Thursday,19:28:40,19173,1.75,0.8,96.4,60이상,49.0,14.0,15.0
13442613,59,150,28000000.0,14.0,NaN,1963.0,690.0,26000000.0,EARNEDINCOME,계약직,...,Thursday,19:28:39,19173,1.75,0.8,96.4,60이상,49.0,14.0,15.0

In [3]:
# train, test set 분리
ii=data[data.is_applied.isnull()].index
train=data.drop(ii)
test=data.loc[ii]

In [8]:
len(train)

10187132

In [9]:
# 3,4,5월 데이터의 is_applied 비율
train['is_applied'].value_counts()

0.0    9636167
1.0     550965
Name: is_applied, dtype: int64

In [4]:
train=train.drop('loanapply_time',axis=1)
train=pd.get_dummies(train)
test_data=train[train['loanapply_month']==5] # 실제 5월로 test
train_data=train[(train['loanapply_month']==3)|(train['loanapply_month']==4)] # 3,4월로 예측

In [11]:
# 3,4월 데이터의 is_applied 비율
print('3,4월 데이터 is_applied')
print(train_data['is_applied'].value_counts())

# 5월 데이터의 is_applied 비율
print('5월 데이터 is_applied')
print(test_data['is_applied'].value_counts())

3,4월 데이터 is_applied
0.0    6283121
1.0     350958
Name: is_applied, dtype: int64
5월 데이터 is_applied
0.0    3353046
1.0     200007
Name: is_applied, dtype: int64

In [12]:
print(len(test_data))
print(len(train_data))

3553053
6634079

In [5]:
# X = train_data[train_data['is_applied'] == 0]
# y = train_data[train_data['is_applied'] == 1]
X = train_data.drop('is_applied',axis=1)
y = train_data['is_applied']

In [14]:
print(len(X))
print(len(y))

6634079
6634079

In [6]:
# 필요없는거 del
del ii
del data
del train
del test
# del test_data
# del train_data

In [16]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6634079 entries, 0 to 6634078
Data columns (total 59 columns):
 #   Column                       Dtype
---  ------                       -----
 0   bank_id                      int64
 1   product_id                   int64
 2   loan_limit                   float64
 3   loan_rate                    float64
 4   birth_year                   float64
 5   credit_score                 float64
 6   yearly_income                float64
 7   desired_amount               float64
 8   existing_loan_cnt            float64
 9   existing_loan_amt            float64
 10  gender                       float64
 11  rehabilitation_yn            int64
 12  loanapply_month              int64
 13  loanapply_day                int64
 14  time_at_work                 int64
 15  기준금리                         float64
 16  생활물가지수                       float64
 17  소비자심리지수                      float64
 18  대출                           float64
 19  핀다                           float64
 20  금리                           float64
 21  income_type_EARNEDINCOME     uint8
 22  income_type_EARNEDINCOME2    uint8
 23  income_type_FREELANCER       uint8
 24  income_type_OTHERINCOME      uint8
 25  income_type_PRACTITIONER     uint8
 26  income_type_PRIVATEBUSINESS  uint8
 27  employment_type_계약직          uint8
 28  employment_type_기타           uint8
 29  employment_type_일용직          uint8
 30  employment_type_정규직          uint8
 31  houseown_type_기타가족소유         uint8
 32  houseown_type_배우자            uint8
 33  houseown_type_자가             uint8
 34  houseown_type_전월세            uint8
 35  purpose_기타                   uint8
 36  purpose_대환대출                 uint8
 37  purpose_사업자금                 uint8
 38  purpose_생활비                  uint8
 39  purpose_자동차구입                uint8
 40  purpose_전월세보증금               uint8
 41  purpose_주택구입                 uint8
 42  purpose_투자                   uint8
 43  loanapply_week_Friday        uint8
 44  loanapply_week_Monday        uint8
 45  loanapply_week_Saturday      uint8
 46  loanapply_week_Sunday        uint8
 47  loanapply_week_Thursday      uint8
 48  loanapply_week_Tuesday       uint8
 49  loanapply_week_Wednesday     uint8
 50  나잇대_20                       uint8
 51  나잇대_30                       uint8
 52  나잇대_40                       uint8
 53  나잇대_50                       uint8
 54  나잇대_20                       uint8
 55  나잇대_30                       uint8
 56  나잇대_40                       uint8
 57  나잇대_50                       uint8
 58  나잇대_60이상                     uint8
dtypes: float64(15), int64(6), uint8(38)
memory usage: 1.3 GB

In [17]:
X.isnull().sum()

bank_id                        0
product_id                     0
loan_limit                     0
loan_rate                      0
birth_year                     0
credit_score                   0
yearly_income                  0
desired_amount                 0
existing_loan_cnt              0
existing_loan_amt              0
gender                         0
rehabilitation_yn              0
loanapply_month                0
loanapply_day                  0
time_at_work                   0
기준금리                           0
생활물가지수                         0
소비자심리지수                        0
대출                             0
핀다                             0
금리                             0
income_type_EARNEDINCOME       0
income_type_EARNEDINCOME2      0
income_type_FREELANCER         0
income_type_OTHERINCOME        0
income_type_PRACTITIONER       0
income_type_PRIVATEBUSINESS    0
employment_type_계약직            0
employment_type_기타             0
employment_type_일용직            0
employment_type_정규직            0
houseown_type_기타가족소유           0
houseown_type_배우자              0
houseown_type_자가               0
houseown_type_전월세              0
purpose_기타                     0
purpose_대환대출                   0
purpose_사업자금                   0
purpose_생활비                    0
purpose_자동차구입                  0
purpose_전월세보증금                 0
purpose_주택구입                   0
purpose_투자                     0
loanapply_week_Friday          0
loanapply_week_Monday          0
loanapply_week_Saturday        0
loanapply_week_Sunday          0
loanapply_week_Thursday        0
loanapply_week_Tuesday         0
loanapply_week_Wednesday       0
나잇대_20                         0
나잇대_30                         0
나잇대_40                         0
나잇대_50                         0
나잇대_20                         0
나잇대_30                         0
나잇대_40                         0
나잇대_50                         0
나잇대_60이상                       0
dtype: int64

In [18]:
y.isnull().sum()

0

In [19]:
'''
# 62:3 -> 62:62 맞추기

from imblearn.over_sampling import SMOTE
smote = SMOTE(random_state=42)
X_over, y_over = smote.fit_resample(X.values,y)


print('SMOTE 적용 전 학습용 피처/레이블 데이터 세트: ', X.shape, y.shape)
print('SMOTE 적용 후 학습용 피처/레이블 데이터 세트: ', X_over.shape, X_over.shape)
print('SMOTE 적용 후 레이블 값 분포: \n', pd.Series(y_over).value_counts())
'''

# 62:3 -> 62:31 맞추기

from imblearn.over_sampling import SMOTE
smote = SMOTE(sampling_strategy = 0.5, random_state=42)
X_over, y_over = smote.fit_resample(X.values,y)


print('SMOTE 적용 전 학습용 피처/레이블 데이터 세트: ', X.shape, y.shape)
print('SMOTE 적용 후 학습용 피처/레이블 데이터 세트: ', X_over.shape, X_over.shape)
print('SMOTE 적용 후 레이블 값 분포: \n', pd.Series(y_over).value_counts())

SMOTE 적용 전 학습용 피처/레이블 데이터 세트:  (6634079, 59) (6634079,)
SMOTE 적용 후 학습용 피처/레이블 데이터 세트:  (9424681, 59) (9424681, 59)
SMOTE 적용 후 레이블 값 분포:
 0.0    6283121
1.0    3141560
Name: is_applied, dtype: int64

In [26]:
X_over = pd.DataFrame(X_over, columns = X.columns)

NameError: ignored

In [21]:
# 램 끊겨서 다시 del
del X
del y

In [22]:
# data_over은 X,y oversampling된 거 합쳐진 data
data_over = pd.concat([X_over,y_over],axis = 1)

In [ ]:
data_over

,bank_id,product_id,loan_limit,loan_rate,birth_year,credit_score,yearly_income,desired_amount,existing_loan_cnt,existing_loan_amt,...,나잇대_20,나잇대_30,나잇대_40,나잇대_50,나잇대_20,나잇대_30,나잇대_40,나잇대_50,나잇대_60이상,is_applied
0,25.000000,169.000000,2.300000e+07,16.900000,1994.000000,940.000000,2.300000e+07,1.000000e+07,2.000000,1.100000e+07,...,1.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0
1,29.000000,265.000000,2.800000e+07,5.900000,1994.000000,940.000000,2.300000e+07,1.000000e+07,2.000000,1.100000e+07,...,1.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0
2,64.000000,254.000000,2.200000e+07,13.200000,1994.000000,940.000000,2.300000e+07,1.000000e+07,2.000000,1.100000e+07,...,1.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0
3,18.000000,188.000000,6.000000e+06,5.300000,1994.000000,940.000000,2.300000e+07,1.000000e+07,2.000000,1.100000e+07,...,1.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0
4,1.000000,61.000000,1.100000e+07,12.900000,1994.000000,940.000000,2.300000e+07,1.000000e+07,2.000000,1.100000e+07,...,1.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12566237,21.865020,224.123952,4.931240e+07,15.068760,1979.770798,634.269960,1.680221e+07,1.000000e+07,33.447375,1.833752e+08,...,0.0,0.000000,1.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,1.0
12566238,27.082222,179.658872,9.000000e+06,13.973890,1977.917778,578.222185,4.000000e+07,1.000000e+07,11.671113,7.600000e+07,...,0.0,0.000000,1.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,1.0
12566239,40.575317,258.767137,3.789041e+07,13.864372,1972.684908,641.095910,5.000000e+07,5.000000e+06,9.000000,2.489041e+07,...,0.0,0.000000,0.000000,0.0,0.0,0.0,0.890409,0.0,0.109591,1.0
12566240,40.211447,210.976949,3.143429e+07,14.062295,1986.342872,629.599895,3.200000e+07,4.131426e+06,7.868574,4.543429e+07,...,0.0,0.434287,0.565713,0.0,0.0,0.0,0.000000,0.0,0.000000,1.0
12566241,44.578987,141.707918,1.091842e+07,11.666056,1979.557899,705.236772,4.000000e+07,8.721051e+06,6.360525,2.363605e+08,...,0.0,0.000000,0.360525,0.0,0.0,0.0,0.639475,0.0,0.000000,1.0

In [ ]:
### 42분 걸림

In [23]:
# 여기까지 csv로 저장
data_over.to_csv('upsampling_62_31.csv')

In [24]:
from google.colab import files

files.download('upsampling_62_31.csv')

In [7]:
# 램끊고 다시 upsampling_62_62.csv 불러오기
data_over=pd.read_csv('/content/upsampling_62_62.csv')
data_over=data_over.drop(['Unnamed: 0'],axis=1)

# or

# del 하기
# del data_over

In [ ]:
# train_data = data_over

In [27]:
data=data_over.groupby('is_applied',group_keys=False).apply(lambda x: x.sample(350958))

# data=sample_train.copy()

In [8]:
test_x=test_data.drop('is_applied',axis=1)
test_y=test_data['is_applied']

In [9]:
# 단순히, label 균형맞춰서
X=data_over.drop(['is_applied'],axis=1)
y=data_over['is_applied']

In [12]:
# del data_over
# del data
del train_data
del test_data

In [13]:
# 데이터 정규화하기
from sklearn.preprocessing import RobustScaler

scaler = RobustScaler()
scaler.fit(X)
scaled_train_x = scaler.transform(X)
scaled_valid_x = scaler.transform(test_x)

In [14]:
del X
del test_x

In [ ]:
# 62:62 평가

In [15]:
# 모델 생성 및 평가 : 예시 로지스틱
from sklearn.linear_model import LogisticRegression

lr=LogisticRegression()
lr.fit(scaled_train_x, y)
pred=lr.predict(scaled_valid_x)

In [16]:
from sklearn.metrics import recall_score, precision_score, accuracy_score, confusion_matrix, f1_score

def display_eval(y_test, y_pred):
    confusion = confusion_matrix(y_test, y_pred)
    accuracy = accuracy_score(y_test, y_pred)
    precision = precision_score(y_test, y_pred)
    recall = recall_score(y_test, y_pred)
    f1 = f1_score(y_test, y_pred)
    print(confusion)
    print('*'*50)
    print()
    print('정확도:{}, 정밀도:{}, 재현율:{}, f1_score:{}'.format(accuracy,precision,recall, f1))
display_eval(test_y, pred)

[[2372135  980911]
 [  49088  150919]]
**************************************************

정확도:0.7101087431006518, 정밀도:0.13334069604092488, 재현율:0.7545685900993465, f1_score:0.22663283870323472

In [ ]:
#### 62:31 평가

In [12]:
# 모델 생성 및 평가 : 예시 로지스틱
from sklearn.linear_model import LogisticRegression

lr=LogisticRegression()
lr.fit(scaled_train_x, y)
pred=lr.predict(scaled_valid_x)

In [13]:
from sklearn.metrics import recall_score, precision_score, accuracy_score, confusion_matrix, f1_score

def display_eval(y_test, y_pred):
    confusion = confusion_matrix(y_test, y_pred)
    accuracy = accuracy_score(y_test, y_pred)
    precision = precision_score(y_test, y_pred)
    recall = recall_score(y_test, y_pred)
    f1 = f1_score(y_test, y_pred)
    print(confusion)
    print('*'*50)
    print()
    print('정확도:{}, 정밀도:{}, 재현율:{}, f1_score:{}'.format(accuracy,precision,recall, f1))
display_eval(test_y, pred)

[[2889147  463899]
 [  97075  102932]]
**************************************************

정확도:0.8421149360845448, 정밀도:0.18159204418953798, 재현율:0.5146419875304364, f1_score:0.2684582662831002